@page "/"
@inject NavigationManager navigation


<div class="flex flex-row justify-center items-center min-h-screen ">
    <img class="@ImageClass" src="img/readle-cover.png" width="402" height="402" />
</div>

<!--<NavLink href="counter" class="btn">Get Started</NavLink>-->
@code {
    private string ImageClass = "hidden-before-animate";

    protected override async Task OnAfterRenderAsync(bool firstRender)

    {

        if (firstRender)
        {

            ImageClass = "fade-in";
            StateHasChanged();

            await Task.Delay(2500);
            navigation.NavigateTo("/MainMenu");

        }
    }

}


@*@page "/"
@inject BookApi bookApi
@inject IndexDb db



<PageTitle>Home</PageTitle>

@if (Books is null)
{
    <h1>EmptyBook</h1>
}else
{
    foreach (var book in Books)
    {
        if (book.Format != null && book.Format.TryGetValue("image/jpeg", out var CoverUrl))
        {
            <h1>@book.Title</h1>
            <img src="@CoverUrl" />
        }
    }
}


@code{
    public List<BookGutendex>? Books { get; set; }
    protected override async Task OnInitializedAsync()
    {
        try
        {
             await Task.Delay(100);
                Books = await db.GetTenBooks();
                if (Books == null || Books.Count == 0)
                {
                    Books = await bookApi.MostRead();
                    await db.SaveTenBooks(Books);
                }
            }


        catch (Exception ex)
        {
            Console.WriteLine("Erros" + ex.Message);
        }
        StateHasChanged();
    }
}
*@