@using ReadleApp.Client.Services
@inject PageState pageState




<div class="w-full relative  flex flex-row flex-wrap ">
      
    <button @onclick="()=> pageState.SetView(PageState.PageView.bookshelve)" class="btn w-full  shadow-md flex justify-between items-center  bg-transparent  ">

        <svg class="w-6 h-6 text-slate-600 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1" d="m15 19-7-7 7-7" />
        </svg>

        <span class="font-normal text-slate-500">Everyone’s Talking About</span>
    </button>



    <div class="gap-2 flex-wrap flex p-2 mt-2">
        <div class="relative flex-shrink-0  rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative flex-shrink-0   rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative  flex-shrink-0  rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative   flex-shrink-0 rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative flex-shrink-0  rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative   flex-shrink-0 rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative flex-shrink-0  rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>

        <div class="relative   flex-shrink-0 rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative flex-shrink-0  rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative   flex-shrink-0 rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative flex-shrink-0  rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>

            <div class="relative   flex-shrink-0 rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative flex-shrink-0  rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>

            <div class="relative   flex-shrink-0 rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative flex-shrink-0  rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>

            <div class="relative   flex-shrink-0 rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative flex-shrink-0  rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>

        <div class="relative   flex-shrink-0 rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative flex-shrink-0  rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>

        <div class="relative   flex-shrink-0 rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative flex-shrink-0  rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>

        <div class="relative   flex-shrink-0 rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>
        <div class="relative flex-shrink-0  rounded-t-lg  w-20 h-32">

            <img class="  top-0 left-0 w-full h-full object-cover"
                 src="/img/book1.jpg"
                 alt="Book cover image" />
        </div>



    </div>


</div>













@code {

}
