@using ReadleApp.Client.Services
@using ReadleApp.Domain.Interface
@using ReadleApp.Domain.Model
@using ReadleApp.Infrastructure.Services
@inject BookApiServices bookApiServices
@inject IBookRespository _db
@inject BookClientServices bookClient
@inject BookStateService bookState

<div class="flex  overflow-x-scroll scrollbar-hide w-full">
    <div class="gap-2 flex-nowrap flex ">
        @if (!bookState.AllBook.ContainsKey("Adventure") || bookState.AllBook["Adventure"].Count == 0)
        {
            <h1>empty</h1>
        }
        else
        {
            @foreach (var book in bookState.AllBook["Adventure"])
            {
                if (string.IsNullOrEmpty(book.CoverUrl))
                {
                    <h1>No Book Cover</h1>
                }
                else
                {
                    <NavLink href="@($"/DisplayBook/{book.WorkKey}")">
                        <div class="relative flex-shrink-0  rounded-t-lg  w-20 h-32">

                            <img class=" top-0 left-0 w-full h-full object-cover"
                            src="@book.CoverUrl"
                            alt="Book cover image" />
                            <h1>@book.Title</h1>
                        </div>
                    </NavLink>
                }
            }
        }


    </div>
</div>


@code {
    protected override void OnInitialized()
    {
        bookState.OnChange += StateHasChanged;
      

    }
    public void Dispose()
    {
        bookState.OnChange -= StateHasChanged;
    }
}